.toggle-mnu {
  display: block;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 48px; }

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin: 25px 15px; }
  .toggle-mnu:focus {
    outline: none; }

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

.toggle-mnu span:after {
  top: 9px; }

.toggle-mnu span {
  position: relative;
  display: block; }

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.toggle-mnu.on span {
  background-color: transparent; }

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px); }

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
      -ms-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px); }

.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

li {
  list-style: none; }

ul {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf); }

@font-face {
  font-family: OpenSansI;
  src: url(../fonts/OpenSans-Italic.ttf); }

@font-face {
  font-family: OpenSansSB;
  src: url(../fonts/OpenSans-Semibold.ttf); }

@font-face {
  font-family: OpenSansB;
  src: url(../fonts/OpenSans-Bold.ttf); }

@font-face {
  font-family: OpenSansL;
  src: url(../fonts/OpenSans-Light.ttf); }

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
  background: #fff; }

.black_line {
  background-color: #111;
  height: 56px;
  overflow: hidden;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.w_897 {
  width: 897px;
  margin: auto; }

.top_phone_call {
  font-family: OpenSans;
  float: right;
  color: #F5F5F5;
  font-size: 19px; }
  .top_phone_call a {
    font-family: OpenSans;
    font-size: 19px;
    color: #F5F5F5;
    text-decoration: underline; }
    .top_phone_call a:hover {
      text-decoration: none; }

.top_phone {
  float: left;
  margin-right: 20px; }

.black_line_icons {
  margin-left: 25px; }
  .black_line_icons a {
    display: block;
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin-right: 13px; }
  .black_line_icons .mal {
    margin-right: 0; }

.hom {
  background-image: url("../img/hom.png"); }

.carts {
  background-image: url("../img/carts.png"); }

.mal {
  background-image: url("../img/mal.png"); }

.logo_mnu_banner {
  padding-top: 35px;
  background: url("../img/bg_banner.jpg") no-repeat 0 0;
  overflow: hidden; }

.logo {
  float: left; }

.pink, .top_mnu a:hover, .top_mnu .active a, .slogan span, .pin span {
  color: #db00ff; }

.top_mnu {
  position: relative;
  z-index: 1;
  float: right !important;
  margin-top: 20px; }
  .top_mnu ul {
    margin: 0; }
  .top_mnu li {
    float: left;
    list-style: none;
    line-height: 1;
    margin-right: 30px; }
    .top_mnu li:first-child {
      margin-left: 0; }
    .top_mnu li:last-child {
      margin-right: 0; }
  .top_mnu a {
    color: #111111;
    display: block;
    font-family: OpenSans;
    font-size: 18px;
    line-height: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center; }
    .top_mnu a:hover {
      text-decoration: none; }
  .top_mnu .active a {
    text-decoration: none; }

.col-mnu-logo {
  overflow: hidden; }

.top_banner {
  width: 100%; }

.slogan {
  float: left;
  width: 350px;
  margin-top: 70px; }
  .slogan div {
    text-shadow: 1px 1.7px 1px rgba(0, 0, 0, 0.3);
    font-family: OpenSansL;
    color: #000;
    font-size: 50px;
    margin-bottom: 40px; }
  .slogan span {
    font-size: 25px;
    font-family: OpenSans;
    text-transform: uppercase;
    line-height: 1.2; }

.img_banner {
  float: right;
  margin-top: -30px; }

.nopadding {
  padding: 0 !important; }

.services {
  background-color: #111;
  padding: 30px 0 35px 0;
  overflow: hidden; }
  .services a {
    font-family: OpenSans;
    font-size: 25px;
    color: #FFF;
    display: block;
    width: 220px;
    line-height: 1.3; }
    .services a:hover {
      text-decoration: none; }
  .services span {
    font-size: 35px; }

.gree span {
  color: #79bd00; }

.bir span {
  color: #01c3fe; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main-mnu {
    display: none;
    float: right;
    min-width: 250px;
    text-align: right;
    background-color: #1C242C;
    width: auto;
    position: absolute;
    top: 45px;
    right: 15px;
    height: auto;
    z-index: 10;
    margin-top: 0; }
    .main-mnu ul {
      display: inline; }
    .main-mnu li {
      display: block;
      float: none;
      margin: 0; }
    .main-mnu a {
      display: block;
      color: #FFF;
      -webkit-border-radius: 0;
              border-radius: 0;
      border: none;
      padding: 10px;
      text-align: right;
      border-radius: 0; }
      .main-mnu a:hover {
        text-decoration: none;
        -webkit-border-radius: 0;
                border-radius: 0; }
    .main-mnu a:hover, .main-mnu li.active a {
      border: none;
      -webkit-border-radius: 0;
              border-radius: 0; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

@media only screen and (max-width: 640px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

@media only screen and (max-width: 400px) {
  /**/ }

@media only screen and (max-width: 360px) {
  /**/ }

@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 1200px) {
  .main-mnu {
    display: block !important; }
  a {
    outline: none !important; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
