@import _mnu

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-weight: inherit
  font-style: inherit
  font-size: 100%
  font-family: inherit
  vertical-align: baseline

\:focus
  outline: 0

body
  line-height: 1
  color: black
  background: white

ol, ul
  list-style: none

table
  border-collapse: separate
  border-spacing: 0

caption, th, td
  text-align: left
  font-weight: normal

blockquote
  &:before, &:after
    content: ""

q
  &:before, &:after
    content: ""

blockquote, q
  quotes: "" ""

li 
	list-style: none

ul 
	padding: 0
	margin: 0

@import _fonts

.wrapper 
	width: 100%
	max-width: 1920px 
	margin: auto
	overflow: hidden
	background: #fff

.black_line
	background-color: #111
	height: 56px
	overflow: hidden
	padding: 20px 0 
	box-sizing: border-box
	
.w_897
	width: 897px
	margin: auto

.top_phone_call
	font-family: OpenSans 
	float: right
	color: #F5F5F5
	font-size: 19px
	a
		font-family: OpenSans
		font-size: 19px
		color: #F5F5F5
		text-decoration: underline
		&:hover
			text-decoration: none

.top_phone
	float: left
	margin-right: 20px

.black_line_icons
	margin-left: 25px
	a
		display: block
		width: 27px
		height: 27px
		background-repeat: no-repeat
		background-position: center center
		float: left
		margin-right: 13px
	.mal
		margin-right: 0

.hom
	background-image: url("../img/hom.png")

.carts
	background-image: url("../img/carts.png")

.mal
	background-image: url("../img/mal.png")

.logo_mnu_banner
	padding-top: 35px
	background: url("../img/bg_banner.jpg") no-repeat 0 0
	overflow: hidden

.logo
	float: left

.pink
	color: rgb(219, 0, 255) 

.top_mnu
	position: relative
	z-index: 1
	float: right !important
	margin-top: 20px
	ul
		margin: 0
	li 
		float: left
		list-style: none
		line-height: 1
		margin-right: 30px
		&:first-child 
			margin-left: 0
		&:last-child 
			margin-right: 0	
	a 		
		color: rgb(17, 17, 17)
		display: block
		font-family: OpenSans
		font-size: 18px
		line-height: 1
		box-sizing: border-box
		text-align: center
		&:hover
			@extend .pink
			text-decoration: none
	.active
		a
			@extend .pink
			text-decoration: none

.col-mnu-logo
	overflow: hidden

.top_banner
	//overflow: hidden
	width: 100% 

.slogan
	float: left
	width: 350px
	margin-top: 70px
	div
		text-shadow: 1px 1.7px 1px rgba(0, 0, 0, 0.3)
		font-family: OpenSansL 
		color: #000 
		font-size: 50px
		margin-bottom: 40px
	span
		font-size: 25px
		@extend .pink
		font-family: OpenSans
		text-transform: uppercase
		line-height: 1.2 

.img_banner
	float: right
	margin-top: -30px

.nopadding
	padding: 0 !important

.services
	background-color: #111 
	padding: 30px 0 35px 0
	overflow: hidden
	div
	a
		font-family: OpenSans
		font-size: 25px
		color: #FFF  
		display: block
		width: 220px
		line-height: 1.3
		&:hover
			text-decoration: none
	span
		font-size: 35px

.gree
	span
		color: rgb(121, 189, 0)

.bir
	span
		color: rgb(1, 195, 254)

.pin
	span
		@extend .pink










































@import _media